<a href="{{ .context.Permalink }}" class="block shadow-md h-full flex flex-col lg:flex-row mb-4 items-center">
  {{ if .context.Params.image }}
    <img src="{{ .context.Params.image | absURL }}" class="h-48 w-full sm:w-2/5 object-cover">
  {{ else }}
    <img src="{{ .context.Site.Params.cover | absURL }}" class="h-48 w-full sm:w-2/5 object-cover">
  {{ end }}
  <div class="px-4 sm:w-3/5 self-start">
    {{ if .context.Params.tags }}
      <ul class="pt-1">
        {{ range .context.Params.tags }}
          <li class="inline uppercase text-xs font-extralight tracking-wide">#{{ . }}</li>
        {{ end }}
      </ul>
    {{ end }}
    <h2 class="text-2xl font-semibold pb-2">{{ .context.Title }}</h2>
    <p class="pb-1 text-md text-gray-700 font-serif leading-relaxed">
    {{ if .context.Description }}
      {{ .context.Description | markdownify | truncate 190}}
    {{ else }}
      {{ .context.Summary | plainify | safeHTML }}{{ if .context.Truncated }} ... {{ end }}
    {{ end }}
    </p>
  </div>
</a>
