<a href="{{ .context.Permalink }}" class="block shadow-md rounded-lg border border-gray-100 h-full flex flex-col{{ if eq .index 0 }} lg:flex-row{{ end }}">
  {{ if .context.Params.image }}
  <img src="{{ .context.Params.image }}" class="h-48 w-full rounded-t-lg {{ if eq .index 0 }}sm:h-full sm:rounded-none sm:rounded-l-lg {{ end }}object-cover">
  {{ else }}
   <h1>ERROR ON {{ .context.Permalink }}</h1>
  {{ end }}
  <div class="p-4">
    {{ if .context.Params.tags }}
      <ul class="pb-1">
        {{ range .context.Params.tags }}
          <li class="inline uppercase text-xs font-thin tracking-wide">#{{ . }}</li>
        {{ end }}
      </ul>
    {{ end }}
    <h2 class="text-lg font-semibold pb-2">{{ .context.Title }}</h2>
    <p class="text-md text-gray-700 font-serif leading-relaxed">
    {{ if .context.Description }}
      {{ .context.Description | markdownify }}
    {{ else }}
      {{ .context.Summary | plainify | safeHTML }}{{ if .context.Truncated }} ... {{ end }}
    {{ end }}
    </p>
  </div>
</a>
