<div class="rounded-lg border border-orange-200 p-4 bg-orange-100">
  <h2 class="text-lg text-center font-semibold pb-2">Learn about Python!</h2>
  <p class="text-sm font-serif text-gray-700 mb-4">
  You can join my newsletter
  along with 1,000+ other developers
  to help you learn more about Django and Python.
  </p>

  <div id="mc_embed_signup" class="post-card">
    <form action="https://mattlayman.us19.list-manage.com/subscribe/post?u=874a48ddf96f615fc1695f646&amp;id=618f049eb0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
      <div id="mc_embed_signup_scroll">
        <div class="mc-field-group mb-4">
          <input type="email" value="" placeholder="Email Address" name="EMAIL" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="mce-EMAIL" required>
        </div>
        <div class="mc-field-group mb-6">
          <input type="text" value="" placeholder="First Name" name="FNAME" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="mce-FNAME" required>
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_874a48ddf96f615fc1695f646_618f049eb0" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="bg-blue-400 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline"></div>
      </div>
    </form>
  </div>
</div>
