beautifulsoup4
black
flake8
pip-tools
pyperclip
python-dateutil
python-dotenv
python-frontmatter
requests
typer[all]

# For YouTube article generation
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
