beautifulsoup4
black
flake8
jinja2
pip-tools
pyperclip
python-dateutil
python-dotenv
python-frontmatter
# PyYAML is having some problem with cython3.
# Pin to an older version for now.
# See https://github.com/yaml/pyyaml/issues/601
# and https://github.com/mblayman/mattlayman.com/actions/runs/6755110940/job/18363226345
PyYAML==5.3.1
requests
typer[all]

# For YouTube article generation
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
