body {
  background-color: #f2fcff;
  color: #000547;
  font-family: Helvetica, Georgia, sans-serif;
  margin: 50px auto;
  width: 650px;
}

body h1 {
  border-left: 2px #cc6e00 solid;
  padding-left: 15px;
}

a {
  color: #cc6e00;
  text-decoration: none;
  border-bottom: 1px solid #cca77a;
}

a:visited {
  color: #61607d;
  border-bottom: 1px dotted #a4a3d4;
}

footer p a:visited {
  color: #cc6e00;
  text-decoration: none;
  border-bottom: 1px solid #cca77a;
}

a:hover {
  color: #f28300;
  border-bottom: 1px dotted #cca77a;
}

div.codehilite { padding-left: 20px; }

img#me {
  border-radius: 100px;
  float: right;
  margin-left: 10px;
}

img.book {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  border-top: 1px solid #cc6e00;
  font-size: smaller;
  text-align: center;
}

footer p img { vertical-align: middle; }

@media screen and (max-width: 650px) {
  body {
    margin: 10px auto;
    padding: 0 20px 0 20px;
    width: auto;
    word-wrap: break-word;
  }

  body h1 {
    border-left: 0px;
    padding-left: 0px;
  }
}

