{{ define "main" }}

{{ if .Params.image }}
  <div class="bg-cover bg-center h-48 sm:h-56 sm:border border-gray-100 -mx-4 -mt-4 mb-4 sm:m-0 sm:mb-4" style="background-image: url({{ .Params.image | absURL }})">
  </div>
{{ end }}

<h1 class="text-center text-black text-4xl font-semibold tracking-wide pt-4 pb-4 sm:pt-2 sm:pb-2">{{ .Title }}</h1>

{{ $content := .Content }}
{{ with $content }}
  <div class="article-content mx-auto mt-8 pb-8 sm:px-20">
    {{ $content }}
  </div>
{{ end }}

{{ $paginator := .Paginate (.Pages | lang.Merge (where .Sites.First.RegularPages "Section" .Section)) }}
{{ partial "articles-list" $paginator }}

{{ partial "paginator" . }}

{{ end }}
