{{ define "main" }}
<div class="text-center">
  {{ range $index, $tag := .Params.tags }}
    {{ if lt $index 2 }}
      <a class="text-blue-400 text-sm font-light tracking-wider hover:underline uppercase" href="{{ $.Site.BaseURL }}tags/{{ $tag | urlize }}/">#{{ $tag }}</a>
    {{  end  }}
  {{ end }}
</div>


<h1 class="article-title text-center text-black text-4xl font-semibold tracking-wide pt-4 pb-8 sm:pt-2 sm:pb-4">{{ .Title }}</h1>

{{ if .Params.image }}
  <div class="bg-cover bg-center h-48 sm:h-56 sm:rounded-lg sm:border border-gray-100 -mx-4 -mt-4 mb-4 sm:m-0 sm:mb-4" style="background-image: url({{ .Params.image | absURL }})">
  </div>
{{ else }}
  <div class="bg-cover bg-center h-48 sm:h-56 sm:rounded-lg sm:border border-gray-100 -mx-4 -mt-4 mb-4 sm:m-0 sm:mb-4" style="background-image: url({{ .Site.Params.cover | absURL }})">
  </div>
{{ end }}

<a href="/">
  <div class="bg-white rounded-full mx-auto -mt-20 sm:-mt-20 mb-2 p-1 h-32 w-32 shadow-xl">
    <img src="{{ .Site.Params.authorAvatar | absURL }}" class="rounded-full">
  </div>
</a>

<div class="article-content mx-auto mt-8 pb-8 sm:px-20">
  {{ .Content }}

  {{ if eq .Params.type "post" }}
    <div class="hidden sm:block">
      {{ partial "newsletter-form" . }}
    </div>
  {{ end }}
</div>

{{ if not .Params.hideNextPrev }}
<div class="flex flex-col sm:flex-row">
  {{ with .NextInSection }}
    <div class="flex-1 px-0 py-2 sm:p-2">
      {{ partial "article-card" (dict "context" . ) }}
    </div>
  {{ end }}
  {{ with .PrevInSection }}
    <div class="flex-1 px-0 py-2 sm:p-2">
      {{ partial "article-card" (dict "context" . ) }}
    </div>
  {{ end }}
</div>
{{ end }}

{{/* Add MailChimp form*/}}
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"874a48ddf96f615fc1695f646","lid":"618f049eb0"}) })</script>
{{ end }}
