img#me {
  border-radius: 100%;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.about-text {
  margin: 1em;
}
.about-section-reverse .about-text {
  margin-left: 0;
}
.about-image-container {
  min-width: 25%;
}

.flex-right {
  margin-left: auto;
}

.post-full-image {
  height: 500px;
}
.related-posts {
  max-width: 840px;
  margin: 0 auto;
}

@media screen and (max-width: 650px) {
  div#me-wrapper {
    width: 100%;
  }

  img#me {
    display: block;
    margin: 0 auto 1em;
    width: auto;
  }

  .about-section {
    flex-direction: column;
  }
  .about-section-reverse {
    flex-direction: column-reverse;
  }
  .about-text {
    margin: 0;
  }

  .post-full-content img.about-image {
    margin: 1em auto;
    width: auto;
  }
}
