@tailwind base;

.article-content {
  @apply text-gray-900;
}

.article-content a {
  @apply border-b border-blue-400;
}
.article-content a:hover {
  @apply text-blue-400;
}

.article-content h2 {
  @apply mt-6 mb-2 text-3xl font-semibold;
}
.article-content h3 {
  @apply mt-6 mb-2 text-2xl font-semibold;
}
.article-content h4,h5,h6 {
  @apply mt-6 mb-2 text-xl font-semibold;
}

.article-content p {
  @apply mb-4 text-lg font-serif leading-relaxed;
}
.article-content p code {
  @apply bg-blue-100;
}

.article-content ul {
  @apply mt-1 mb-3 list-inside list-disc;
}
.article-content ol {
  @apply mt-1 mb-3 list-inside list-decimal;
}
.article-content li {
  @apply px-4 pb-2 text-lg font-serif leading-relaxed;
}
.article-content li p {
  @apply inline;
}

.article-content blockquote {
  @apply border-l-4 border-blue-400 mb-4 pl-4 italic;
}

.article-content .highlight pre {
  @apply mb-4 p-4 rounded;
}

.article-content figure {
  @apply text-center py-4;
}
.article-content figure img {
  @apply mx-auto mb-2 rounded shadow;
}
.article-content figcaption p {
  @apply text-base text-gray-600;
}

.article-content .fluid-vids {
  @apply my-8;
}

.article-content hr {
  @apply border-t-2 border-blue-200 my-8;
}

.article-content .footnotes p {
  @apply text-base inline;
}

@tailwind components;

/* The fenced code ruins mobile layout so it needs to be restricted. */
pre code {
  @apply inline-block max-w-xs overflow-x-scroll;
}

.container {
  display: grid;
  grid-template-areas: "content" "sidebar";
  grid-template-columns: 1fr;
  grid-gap: 20px;
  @apply mx-auto;
}

@screen sm {
  .container {
    grid-template-areas: "content sidebar";
    grid-template-columns: 3fr 1fr;
  }

  /* At larger sizes, fenced code should have all the width it wants. */
  pre code {
    @apply max-w-full;
  }
}

article {
  grid-area: content;
}

aside {
  grid-area: sidebar;
}

.articles-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas: "article-1" "article-2" "article-3" "article-4" "article-5" "article-6";
}

@screen sm {
  .articles-grid {
    grid-template-areas:
      "article-1 article-1 article-1 article-1 article-1 article-1"
      "article-2 article-2 article-3 article-3 article-4 article-4"
      "article-5 article-5 article-5 article-6 article-6 article-6";
    grid-template-columns: repeat(6, 1fr);
  }
}

.article-1 {
  grid-area: article-1;
}
.article-2 {
  grid-area: article-2;
}
.article-3 {
  grid-area: article-3;
}
.article-4 {
  grid-area: article-4;
}
.article-5 {
  grid-area: article-5;
}
.article-6 {
  grid-area: article-6;
}

@tailwind utilities;
