{% extends "base.html" %}

{% block content %}
  <h1>Matt Layman</h1>
  <p>I am a Senior Staff Software Engineer at Included Health.</p>
  <p>I like to teach others about writing good software while streaming on YouTube and am committed to helping my local community grow its tech skills by volunteering as a meetup organizer for Python Frederick.</p>

  <h2>Articles</h2>
  <ul>
  {% for page in pages %}
    <li><a href="{{ route("blog_entry", page.slug ) }}">{{ page.title }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
