{% extends "base.html" %}

{% block content %}
  <h1>Matt Layman</h1>
  <p>I am a Senior Staff Software Engineer at Included Health.</p>
  <p>I like to teach others about writing good software while streaming on YouTube and am committed to helping my local community grow its tech skills by volunteering as a meetup organizer for Python Frederick.</p>

  <h2>Book</h2>

  <p><strong>Want to learn Django from top to bottom?</strong></p>

  <p>
    <i>Understand Django will walk you through the Django web framework.</i>
    We start from the top at an exploration of the browser and the layers
    that make the internet work, then dig deep down through the framework
    to reveal how you can make web applications using Django.
  </p>

  <p>
    By the time you finish reading this book,
    you'll have a much deeper knowledge of how web applications work
    and, specifically,
    how <i>Python-based</i> web applications are built.
  </p>

  <p class="mb-4">
    You can read the book online for free,
    <a href="{{ route("understand_django_chapter", "about") }}" class="underline italic">right now</a>.
    Prefer your own copy?
    You can buy an e-book or physical book today.
    <a href="https://amzn.to/40FDZue" target="_blank"
      class="text-white text-lg font-medium tracking-wide bg-red-500 p-4 inline-block">
      Buy Understand Django
    </a>
  </p>

  <img width="250" src="/static/img/understand-django-cover.png">

  <h2>Articles</h2>
  <ul>
  {% for page in pages %}
    <li><a href="{{ route("blog_entry", page.slug ) }}">{{ page.title }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
