{{ $post := .Get 0 }}
<ol>
  {{- if eq $post "browser" -}}
  <li>From Browser To Django</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-01-08-browser-to-django.md" }}">From Browser To Django</a></li>
  {{- end -}}

  {{- if eq $post "urls" -}}
  <li>URLs Lead The Way</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-01-22-urls-lead-way.md" }}">URLs Lead The Way</a></li>
  {{- end -}}

  {{- if eq $post "views" -}}
  <li>Views On Views</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-03-03-views-on-views.md" }}">Views On Views</a></li>
  {{- end -}}

  {{- if eq $post "templates" -}}
  <li>Templates For User Interfaces</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-04-02-templates-user-interfaces.md" }}">Templates For User Interfaces</a></li>
  {{- end -}}

  {{- if eq $post "forms" -}}
  <li>User Interaction With Forms</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-05-05-user-interaction-forms.md" }}">User Interaction With Forms</a></li>
  {{- end -}}

  {{- if eq $post "models" -}}
  <li>Store Data With Models</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-06-25-store-data-with-models.md" }}">Store Data With Models</a></li>
  {{- end -}}

  {{- if eq $post "admin" -}}
  <li>Administer All The Things</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-08-26-administer-all-the-things.md" }}">Administer All The Things</a></li>
  {{- end -}}

  {{- if eq $post "apps" -}}
  <li>Anatomy Of An Application</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-09-29-anatomy-of-an-application.md" }}">Anatomy Of An Application</a></li>
  {{- end -}}

  {{- if eq $post "auth" -}}
  <li>User Authentication</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-11-04-user-authentication.md" }}">User Authentication</a></li>
  {{- end -}}

  {{- if eq $post "middleware" -}}
  <li>Middleware Do You Go?</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-12-16-middleware-do-you-go.md" }}">Middleware Do You Go?</a></li>
  {{- end -}}

  {{- if eq $post "static" -}}
  <li>Serving Static Files</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2021-01-06-serving-static-files.md" }}">Serving Static Files</a></li>
  {{- end -}}

  {{- if eq $post "tests" -}}
  <li>Test Your Apps</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2021-02-22-test-your-apps.md" }}">Test Your Apps</a></li>
  {{- end -}}

  {{- if eq $post "deployment" -}}
  <li>Deploy A Site Live</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2021-03-23-deploy-site-live.md" }}">Deploy A Site Live</a></li>
  {{- end -}}

  {{- if eq $post "sessions" -}}
  <li>Per-visitor Data With Sessions</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2021-05-21-sessions.md" }}">Per-visitor Data With Sessions</a></li>
  {{- end -}}

  {{- if eq $post "settings" -}}
  <li>Making Sense Of Settings</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2021-07-15-settings.md" }}">Making Sense Of Settings</a></li>
  {{- end -}}

  {{- if eq $post "files" -}}
  <li>User File Use</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2021-09-14-media-files.md" }}">User File Use</a></li>
  {{- end -}}

  {{- if eq $post "commands" -}}
  <li>Command Your App</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2021-11-04-command-apps.md" }}">Command Your App</a></li>
  {{- end -}}

</ol>
