{{ $post := .Get 0 }}
<ol>
  {{- if eq $post "browser" -}}
  <li>Do Navegador à Django</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-01-08-browser-to-django.pt.md" }}">Do Navegador à Django</a></li>
  {{- end -}}

  {{- if eq $post "urls" -}}
  <li>URLs Guiam o Caminho</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-01-22-urls-lead-way.pt.md" }}">URLs Guiam o Caminho</a></li>
  {{- end -}}

  {{- if eq $post "views" -}}
  <li>Visões Sobre Visões</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-03-03-views-on-views.pt.md" }}">Visões Sobre Visões</a></li>
  {{- end -}}

  {{- if eq $post "templates" -}}
  <li>Modelos de Marcação para as Interfaces de Utilizador</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-04-02-templates-user-interfaces.pt.md" }}">Modelos de Marcação para as Interfaces de Utilizador</a></li>
  {{- end -}}

  {{- if eq $post "forms" -}}
  <li>Interação do Utilizador com os Formulários</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-05-05-user-interaction-forms.pt.md" }}">Interação do Utilizador com os Formulários</a></li>
  {{- end -}}

</ol>
