{{ $post := .Get 0 }}
<ol>
  {{- if eq $post "browser" -}}
  <li>Del Navegador A Django</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-01-08-browser-to-django.es.md" }}">Del Navegador A Django</a></li>
  {{- end -}}

  {{- if eq $post "urls" -}}
  <li>Las URL Marcan El Camino</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-01-22-urls-lead-way.es.md" }}">Las URL Marcan El Camino</a></li>
  {{- end -}}

  {{- if eq $post "views" -}}
  <li>Un Vistazo A Las Vistas</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-03-03-views-on-views.es.md" }}">Un Vistazo A Las Vistas</a></li>
  {{- end -}}

</ol>
