{{ $post := .Get 0 }}
<ol>
  {{- if eq $post "browser" -}}
  <li>Do Navegador à Django</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-01-08-browser-to-django.pt.md" }}">Do Navegador à Django</a></li>
  {{- end -}}

  {{- if eq $post "urls" -}}
  <li>URLs Guiam o Caminho</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-01-22-urls-lead-way.pt.md" }}">URLs Guiam o Caminho</a></li>
  {{- end -}}

  {{- if eq $post "views" -}}
  <li>Visões Sobre Visões</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-03-03-views-on-views.pt.md" }}">Visões Sobre Visões</a></li>
  {{- end -}}

  {{- if eq $post "templates" -}}
  <li>Modelos de Marcação para as Interfaces de Utilizador</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-04-02-templates-user-interfaces.pt.md" }}">Modelos de Marcação para as Interfaces de Utilizador</a></li>
  {{- end -}}

  {{- if eq $post "forms" -}}
  <li>Interação do Utilizador com os Formulários</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-05-05-user-interaction-forms.pt.md" }}">Interação do Utilizador com os Formulários</a></li>
  {{- end -}}

  {{- if eq $post "models" -}}
  <li>Armazenar Dados com Modelos de Base de Dados</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-06-25-store-data-with-models.pt.md" }}">Armazenar Dados com Modelos de Base de Dados</a></li>
  {{- end -}}

  {{- if eq $post "admin" -}}
  <li>Administrador de Todas as Coisas</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-08-26-administer-all-the-things.pt.md" }}">Administrador de Todas as Coisas</a></li>
  {{- end -}}

  {{- if eq $post "apps" -}}
  <li>A Anatomia Duma Aplicação</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-09-29-anatomy-of-an-application.md" }}">A Anatomia Duma Aplicação</a></li>
  {{- end -}}

  {{- if eq $post "auth" -}}
  <li>Autenticação do Utilizador</li>
  {{- else -}}
  <li><a href="{{ ref . "/understand-django/2020-11-04-user-authentication.pt.md" }}">Autenticação do Utilizador</a></li>
  {{- end -}}

</ol>
