{% extends 'base.j2' %}
{% block title %}Writings{% endblock %}
{% block content %}
<p>My writing includes book reviews, news about my projects and other random
musings. You can <a href="/feed.xml">subscribe</a> with your favorite feed reader.</p>
<br>

{% for post in posts %}
  <h2><a href="{{post.route}}">{{post.title}}</a></h2>
  <p>{{post.summary}}</p>
  <p><small><a href="{{post.route}}">Read more&hellip;</a></small></p>
  <br>
{% endfor %}

{% endblock %}
