<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='/screen.css'>
  <link href='http://fonts.googleapis.com/css?family=Cabin:600|Lora'
    rel='stylesheet' type='text/css'>
  <title>{{ title }} - mattlayman.com</title>
  <meta name='viewport' content='width=device-width' />
  <link rel='alternate' href='/feed.xml' title="Matt Layman's Writings"
    type='atom+xml'>
</head>
<body>
<div id='container'>
  <h1>{{ title }}</h1>
{% block content %}{{ content }}
{% endblock %}
  <br>
  <footer>
    <p><img alt='Creative Commons Attribution 4.0 International License'
      src='/cc.png' width='80' height='15'> <a href='/'> Matt Layman</a>,
      2015</p>
  </footer>
</div>
</body>
</html>
