<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='/screen.css'>
  <link href='https://fonts.googleapis.com/css?family=Nunito:600|Lora:400,700'
    rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <title>{% block title %}{{ title }}{% endblock %} - mattlayman.com</title>
  <meta name='viewport' content='width=device-width' />
  {% if metadata_description %}
  <meta name="description" content="{{ metadata_description }}" />
  {% endif %}
  {% block head %}{% endblock %}
  <link rel='alternate' href='/feed.xml' title="Matt Layman's Writings"
    type='atom+xml'>
  <script src="//load.sumome.com/" data-sumo-site-id="bebd12621ec197c6697df2c9248f3a0e593a38b2eae32e10899930dae8668b9a" async="async"></script>
</head>
<body lang='en'>
<div id='container'>

  <nav>
    <a href="https://www.mattlayman.com">Home</a><a href="https://www.mattlayman.com/archive.html">Writings</a>
  </nav>

  <h1>{{ self.title() }}</h1>
{% block content %}{{ content }}
{% endblock %}
  <br>
  <footer>
    <p>
      &copy; 2013&ndash;2018 Matt Layman
      &middot;
      <a href="https://twitter.com/mblayman">Twitter</a>
      &middot;
      <a href="https://github.com/mblayman">GitHub</a>
      &middot;
      <a href="https://www.youtube.com/channel/UCA-ORpF9LEgECmkP3nvVLXQ/featured">YouTube</a>
    </p>
  </footer>
</div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93541554-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
