{% extends 'base.j2' %}
{% block content %}
<p class='byline'>By <a href='/'>Matt Layman</a> on {{ date.strftime('%B %-d, %Y') }}</p>
{{ content }}
<p>If you want to chat about this with me, I'm
  <a href="https://twitter.com/mblayman">@mblayman</a> on Twitter.</p>
{% endblock %}
