{% extends 'base.j2' %}
{% block content %}
<p class='byline'>By <a href='/'>Matt Layman</a> on {{ date.strftime('%B %-d, %Y') }}</p>
{{ content }}
<p>If you want to chat about this with me, I'm
  <a href="https://twitter.com/mblayman">@mblayman</a> on Twitter.</p>

<div class="posts">
  {% if post.next %}
    <div class="next-post">
      <p class="next-post-link">
        <a href="{{ post.next.route }}">
          Next &rarr;
          <br>
          {{ post.next.title }}
        </a>
      </p>
      <p>
        {{ post.next.summary }}
      </p>
      <div class="post-fade"></div>
    </div>
  {% endif %}

  {% if post.previous %}
    <div class="previous-post">
      <p>
        <a href="{{ post.previous.route }}">
          &larr; Previous
          <br>
          {{ post.previous.title }}
        </a>
      </p>
      <p>
        {{ post.previous.summary }}
      </p>
      <div class="post-fade"></div>
    </div>
  {% endif %}
</div>

<br clear="both">
<br>

<h2>Matt Layman</h2>

<div id='me-wrapper'>
<img id='me' src='/photo.jpg' width='120' height='120'>
</div>

<p>
  Matt is the lead software engineer at
  <a href="https://storybird.com" target="_blank">Storybird</a>.
</p>
<p>
  Always eager to talk about Python
  and other technology topics,
  Matt organizes
  <a href="https://www.meetup.com/python-frederick/" target="_blank">Python Frederick</a>
  in Frederick, Maryland (NW of Washington D.C.)
  and seeks to grow software skills
  for people in his community.
</p>
{% endblock %}
