{% extends 'base.j2' %}
{% block content %}
<p class='byline'>By <a href='/'>Matt Layman</a> on {{ date.strftime('%B %-d, %Y') }}</p>
{{ content }}
<p>If you want to chat about this with me, I'm
  <a href="https://twitter.com/mblayman">@mblayman</a> on Twitter.</p>

<br>

<h2>Matt Layman</h2>

<div id='me-wrapper'>
<img id='me' src='/photo.jpg' width='120' height='120'>
</div>

<p>
  Matt is the lead software engineer at
  <a href="https://storybird.com" target="_blank">Storybird</a>.
</p>
<p>
  Always eager to talk about Python
  and other technology topics,
  Matt organizes
  <a href="https://www.meetup.com/python-frederick/" target="_blank">Python Frederick</a>
  in Frederick, Maryland (NW of Washington D.C.)
  and seeks to grow software skills
  for people in his community.
</p>
{% endblock %}
